<div class="row">

	<h1>&nbsp;&nbsp;Featured Items</h1>

	<% if @featured_items.size == 0 %>
		<h4>No featured Items to view</h4>
	<% else %>
		<% @featured_items.each do |item| %>

			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4 class="pull-right"><%= number_to_currency(item.price) %></h4>
						<h4><%= link_to item.title, item %></h4>
						<p><%= truncate(strip_tags(item.description), length: 75) %></p>
						<%= link_to item.item_type.try(:titleize), category_items_path(category: item.item_type) %>
					</div>
					<div class="ratings">
						<% len = item.reviews.size %>
						<% if len == 0 %>
							<p class="pull-right">No reviews</p>
						<% else %>
							<p class="pull-right"><%= len %> reviews</p>
						<% end %>
							<% if current_user %>
								<%= button_to 'Add To Cart', line_items_path(item_id: item.id), remote: true, class: "btn btn-success" %>
							<% end %>
							<br>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<hr>

<div class="row">

	<h1>&nbsp;&nbsp;Offers</h1>

	<% if @bundled_items.size == 0 %>
		<h4>No Offers To View </h4>
	<% else %>

		<% @bundled_items.each do |bundled_item| %>

			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<h4><%= link_to bundled_item.title, bundled_item_path(bundled_item) %></h4>
						<h4><%= number_to_currency(bundled_item.discounted_price) %></h4>
						<div class="rating">
							<!-- <br> -->
							<%= link_to 'View Offer', bundled_item_path(bundled_item), class: "btn btn-primary pull-right" %>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
<hr>
