
<div class="form-group">
  <strong>Title:</strong>
  <%= @bundled_item.title %>
</div>

<div class="form-group">
  <strong>Discounted price:</strong>
  <%= number_to_currency(@bundled_item.discounted_price) %>
</div>

<table class = "table">
  <% @items.each do |set_item| %>
    <tr>
      <div class="well">
	  <%= set_item.quantity %> &times;
	    <%= link_to set_item.item.title, dashboard_item_path(set_item.item.id) %>
    </div>
	  </tr>
  <% end %>
</table>



<%= link_to 'Edit', edit_dashboard_bundled_item_path(@bundled_item), class: 'btn btn-default' %>
<br>
