<h1>
  <%= link_to dashboard_item_path @item do %>
    <span><%= "#{@item.title}'s"%></span>
  <% end %>
  <span>Videos And Trailers</span>
</h1>
<%= link_to 'Add Video', new_dashboard_item_video_path(item_id: @item), class: "btn btn-primary" %>
<br>
<br>
<% if @videos.count == 0 %>
  <p>No videos to show </p>
<% else %>

  <% @videos.each do |video| %>
    <div class="form-group">
      <%= youtube_video video.url %>
      <br>
      <%= link_to 'Delete', dashboard_item_video_path(id: video.id, item_id: @item), data: { confirm: 'Are you sure?' }, method: :delete, class: "btn btn-danger"  %>
      <hr>
    </div>
  <% end %>

<% end %>


<br>
