<%= form_with(model: [:dashboard, @item, @video], local: true) do |form| %>
  <% if @video.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this video from being saved:</h2>

      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <hr>
  <% end %>

  <div class="form-group">
    <strong>Youtube</strong>
    <%= form.label :url %>
    <%= form.text_area :url, rows: 1, cols: 60, class: "form-control" %>
  </div>

  <%= form.hidden_field :item_id, :value => @item %>


  <div class="actions">
    <%= form.submit class: "btn btn-default"%>
  </div>
<% end %>
