
<p>
  <strong>User's Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User's Email:</strong>
  <%= @user.email %>
</p>



<table class="table">
	<% @order.line_items.each do |line_item| %>
		<tr>
      <td>
        <div class="well">
          <%= line_item.quantity %> &times;
          <%= link_to line_item.item.title, dashboard_item_path(line_item.item.id) %>
        </div>
      </td>
			<td class="item_price">
        <div class="well">
          <%= number_to_currency(line_item.total_price) %>
        </div>
      </td>
		</tr>
	<% end %>

	<tr class="total_line">
  	<td><h3>Total:</h3></td>
  	<td class="total_cell">
      <div class="well">
        <%= number_to_currency(@order.total_price) %>
      </div>
    </td>
	</tr>
</table>
