Dear <%= @name %>
<br>
Thank you for your recent order.

<br>
 You ordered the following items:
 <br>
 <% @order.line_items.each do |line_item| %>
 	<tr>
	  <td><%= line_item.quantity %> &times; </td>

	  <% if line_item.item %>
	  	<td><%= line_item.item.title %> </td>
	  <% else %>
	  	<td><%= line_item.bundled_item.title %> </td>
	  <% end %>
	  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
	</tr>
	<br>
 <% end %>

<br>
