<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, cols: 60  %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price%>
  </div>

  <div class="field">
    <%= form.select :item_type, options_for_select(Item.item_types.keys.map { |type| [type.titleize, type] }, @item.item_type || Item.item_types.keys.first), { prompt: 'Select type' }, required: true %>
  </div>

  <div class="field">
    <%= form.label :is_featured %>
    <%= form.check_box :is_featured%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
