<% if @error %>
  <p class="alert alert-danger"><%= @error %></p>
<% else %>
  <h1>&nbsp;&nbsp; <%= @category.titleize %></h1>

  <% if @items.size == 0 %>
  <br>
    <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;No  Items to view in this category </h4>
  <% else %>
    <% @items.each do |item| %>
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <h4 class="pull-right"><%= number_to_currency(item.price) %></h4>
            <h4><%= link_to item.title, item %></h4>
            <p><%= truncate(strip_tags(item.description), length: 75) %></p>
          </div>
          <div class="ratings">
            <% len = item.reviews.size %>
            <% if len == 0 %>
              <p class="pull-right">No reviews</p>
            <% else %>
              <p class="pull-right"><%= len %> reviews</p>
            <% end %>
              <% if current_user %>
                <%= button_to 'Add To Cart', line_items_path(item_id: item.id), remote: true, class: "btn btn-primary" %>
              <% end %>
              <br>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <br>
<% end %>
